<!DOCTYPE html>
<html ng-app="clientApp">
<head>
  <title>ZinkPulse French - Simple Kanji Reference</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/theme.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div ng-include="'/partials/header-nav.html'"></div>

  <div ng-view></div>
  <!--Less -->
  <script src="scripts/lib/jquery.min.js"></script>
  <script src="scripts/lib/angular.js"></script>
  <script src="scripts/lib/angular-route.js"></script>
  <script src="scripts/lib/bootstrap.min.js"></script>
  <script src="scripts/lib/lodash.min.js"></script>


  <script src="scripts/clientApp/clientApp.js"></script>
  <script src="scripts/clientApp/constants/chapters.js"></script>
  <script src="scripts/clientApp/controllers/HomeCtrl.js"></script>
  <script src="scripts/clientApp/controllers/LessonsListCtrl.js"></script>
  <script src="scripts/clientApp/controllers/Chapter1Lesson1Ctrl.js"></script>
  <script src="scripts/clientApp/directives/VocabTable.js"></script>
  <script src="scripts/clientApp/directives/DialogueTable.js"></script>
</body>
</html>
